
<app-filtros
        [totalHombres]="getNumerosHombres()"
        [totalMujeres]="getNumerosMujeres()"
        [total]="this.listaEmpleados.length"
        (eventoFiltro)="obtenerEvento($event)"
></app-filtros>


<div class="container">
    <table class="table table-success mt-3">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Edad</th>
            <th scope="col">Sexo</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let empleado of listaEmpleados">
            <tr *ngIf=" radioButtonSelecciondo === 'Todos' || radioButtonSelecciondo === empleado.sexo ">
                <td>{{empleado.nombre}}</td>
                <td>{{empleado.apellido}}</td>
                <td>{{empleado.edad}}</td>
                <td>{{empleado.sexo}}</td>
            </tr>
        </ng-container>

        </tbody>
    </table>

</div>
