.fondoItem {
  background-color: #992319;
  border-radius: 23px;
  height: 130px;
  color: white;
}

.btn-block {
  width: 100%;
  background-color: coral;
}
.sexo {
  font-size: 40px;
}
.estiloNumero {
  font-size: 32px;
  font-weight: 800;
  margin-top: -30px;
}
.centimetros {
  font-size: 16px;
  font-weight: 400;
  margin-left: -10px;
}

.form-range {
  padding: 0px 20px;
}
input[type='range']::-webkit-slider-thumb {
  background-color: coral;
}

.sumaResta {
   cursor: pointer;
  background-color: #FF4C4FCE;
  padding: 7px;
  border-radius: 15px;
  margin-left: 3px;

}

.sexoDesactivado {
  background-color: #523737;
}

