<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>

  <ion-segment  scrollable mode="md" color="primary" (ionChange)="cambioCategoria($event)" [value]="segmentByDefault">
    <ion-segment-button mode="md"  *ngFor="let categoria of categorias" [value]="categoria" >
      <ion-label text-capitalized>
        {{categoria}}
      </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content color="dark">
  <app-noticias [noticias]="noticias"></app-noticias>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>